/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none!important;
}
p{
  color: #84879E;
}
.nav-menu a{
  color: #010D82;
}
.social-menu{
  display: flex;
  width: fit-content;
}

/* //subscribe border remove  */
.css-1480iag-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none!important;
}
.css-1480iag-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: none!important;
}
.MuiMobileStepper-dot{
  display: none;
}
.arrow{
  position: absolute;
  top: 40%;
  display: flex;
  justify-content: space-between;
  width: 105%;
  margin-left: -40px;
  background: rgba(255,255,255,0)!important;
}
.css-rh92k-MuiPaper-root-MuiMobileStepper-root{
  background-color: rgba(255,255,255,0)!important;
}
.arrow button{
  background-color: #51C9FF;
  border-radius: 50%;
  padding: 20px 10px;
  font-size: 24px;
}
.arrow button:hover{
  background-color: #fafafa;
}
/* /contact form style */
.css-1480iag-MuiInputBase-root-MuiInput-root:before, .css-5xn5lu-MuiInputBase-root-MuiInput-root:before,.css-1wt0ykv:hover:not(.Mui-disabled)::before,.css-1wt0ykv::before,.css-1w19ck5::before,.css-1w19ck5:hover:not(.Mui-disabled)::before {
  border-bottom: none!important;
}
@media screen and (min-width: 922px) and (max-width: 1320px) {
  .arrow{
    top:40%;
    width: 105%;
  }
}
@media screen and (max-width: 768px) {
  .arrow{
    top:30%;
    right: 0px;
    width: 100%;
  }
}