/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
.social-menu{
  display: flex;
  width: fit-content;
}

/* //subscribe border remove  */
.css-1480iag-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none;
}
.css-1480iag-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: none;
}